@keyframes bgcolor {
    0% {
        background-color: #1B1464
    }

    30% {
        background-color: #4C164B
    }

    60% {
        background-color: #6d2443
    }

    90% {
        background-color: #1B1464
    }

    100% {
        background-color: #4C164B
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
#title{
    text-align: center;
    color: white;    
	font-family: 'Rubik', sans-serif;
	direction: rtl;	
	font-size: 28px;
	color: #ffffff;
}
#gamePinText{
    text-align: center;
    color: white;    
	font-family: 'Rubik', sans-serif;
	direction: rtl;	
	font-size: 28px;
	color: #ffffff;
}
#players{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    resize: none;
	font-family: 'Rubik', sans-serif;
	direction: rtl;
	font-size: 28px;
	color: #ffffff;
	
}

#start{
    width: 80%;
    background-color: #009245;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 28px;    	
	font-family: 'Rubik', sans-serif;
	direction: rtl;
    text-align: center;
}
