html, body { height: 90%; padding: 0; margin: 0; background-color: #4C164B}

#buttons{
    text-align: center;
}
#answer{
    width: 80%;
    background-color: #009245;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 28px;    	
	font-family: 'Rubik', sans-serif;
	direction: rtl;
    text-align: center;
}
#nameText{
    font-family: 'Rubik', sans-serif;
	direction: rtl;
	text-align: center;
	font-size: 35px;
	color: #ffffff;
    padding: 0px 10px;
}
#scoreText{
    font-family: 'Raleway', sans-serif;
    padding: 0px 10px;
}
#message{
    font-family: 'Rubik', sans-serif;
	direction: rtl;
	text-align: center;
	font-size: 35px;
	color: #ffffff;
    padding: 0px 10px;
}

#text {
    width: 80%;
    padding: 12px 0px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    text-align: center;
}